// INITIATIVE COLORS
// $rm-color: #11572a;
$rm-color: #289b66;
$mm-color: #208eca;
$mf-color: #5e5083;
$mfb-color: #e74126;
$mtc-color: #bebb1e;
$mtt-color: #5e40d2;
$mb-color: #e20020;
$mt-color: #818386;