.m-footer {
  $color: $text-color;
  // background: rgba(#fff, 0.5);

  .footer {
    @include outer-container;
    padding: 3em 0 5em;

    .alpha, .beta, .gamma {
      .text {
        padding: 1.5em;
        // text-shadow: 1px 1px 1px rgba(#000, 0.1);
        a {
          color: #fff;
        }
      }
    }

    .alpha {
      @include span-columns(4);
      margin-top: 0;
      padding-bottom: 3em;
      // background: #fff url(../images/silh.svg) bottom -40px right 10px no-repeat;
      // background-size: 150px auto;
      background: $bgcolor url(../images/starbg.png);
      font-size: 0.6em;
      color: $text-color;
      .text {
        a {
          color: $text-color;
          transition: color 0.2s;
        }
        a:hover {
          color: darken($text-color, 10%);
        }
        p {
          margin: 0 0 1em;
        }
        p.phone {
          font-size: 0.9em;
        }
        span.phone {
          letter-spacing: -1px;
          word-spacing: 3px;
        }
        p.links {
          margin: 0;
          font-size: 0.9em;
        }
      }
      @include media($mobile) {
        font-size: 0.5em;
      }
    }
    .beta {
      @include span-columns(4);
      margin-top: 2rem;
      background: desaturate(darken($main-color, 12%), 2%) url(../images/footerbeta.png);
      color: #fff;
      .text {
        display: none;
        margin: 0;
        padding: 2em 1.5em;
        text-align: center;
        font-style: italic;
        line-height: 0.85em;
        text-shadow: 0 0 3px rgba(#000, 0.4);
        b {
          // line-height: 0.8em;
          font-size: 1.15em;
          letter-spacing: -1px;
        }
        .cite {
          display: block;
          color: saturate(lighten($main-color, 10%), 20%);
          // color: $init-color;
          font-weight: bold;
          font-size: 0.7em;
          margin-top: 1em;
          letter-spacing: 4px;
          font-style: normal;
        }
      }
      @include media($mobile) {
        font-size: 0.7em;
      }
    }
    .gamma {
      @include span-columns(4);
      margin-top: 4rem;
      padding-top: 6em;
      background: $init-color url(../images/footergamma.png) right top no-repeat;
      // background-size: cover;
      font-size: 0.55em;
      color: #fff;
      text-align: left !important;
      // text-shadow: 0 0 3px rgba(#000, 0.4);
      @include media($mobile) {
        // background-size: 70%;
        font-size: 0.5em;
      }
    }

    @include media($mobile) {
      padding: 0;
      .alpha, .beta, .gamma {
        @include span-columns(4);
        margin: 0;
        text-align: center;
      }
    }

    @include media($tablet) {
      padding: 0;
      .alpha, .beta, .gamma {
        @include span-columns(8);
        margin: 0;
        text-align: center;
      }
    }
  }
}