.m-links {
  $hover-color: saturate(lighten($bgcolor, 15%), 20%);

  background: rgba($init-color, 0.9) url(../images/starbg.png) fixed;
  margin-top: 3em;

  @include media($mobile) {
    margin-top: 0;
  }
  @include media($tablet) {
    margin-top: 0;
  }

  .row {
    padding: 1em 1em 2em;
  }

  h3 {
    color: #fff;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-family: $texgyre-font;
    span {
      font-family: $texgyrebold-font;
    }
    a {
      color: #fff;
      font-size: 1.1em;
      transition: color 0.2s;
    }
    a:hover {
      color: $hover-color;
    }
  }

  nav {
    .btn {
      font-size: 0.6em;

      padding: 0.4em 0.8em 0.5em;
      margin-right: -2px;
      border-width: 2px;
      border-radius: 6px;
      text-transform: none;
      letter-spacing: 0;

      background: rgba($init-color, 0.5);
      border-color: #fff;
      color: #fff;
      opacity: 1;
      transition: all 0.2s;

    }

    a.btn:hover,
    a.btn:focus {
      color: $hover-color;
      border-color: $hover-color;
      // opacity: 0.8;
    }

    .btn-mfb, .btn-mfb:hover,
    .btn-mtc, .btn-mtc:hover,
    .btn-mtt, .btn-mtt:hover,
    .btn-mb, .btn-mb:hover,
    .btn-mt, .btn-mt:hover {
      opacity: 0.3;
      cursor: default;
    }
  }
}

.initiative-rm .btn-rm,
.initiative-mm .btn-mm,
.initiative-mf .btn-mf,
.initiative-mfb .btn-mfb,
.initiative-mtc .btn-mtc,
.initiative-mtt .btn-mtt,
.initiative-mb .btn-mb,
.initiative-mt .btn-mt {
  display: none;
}