---
layout: initiatives
title: Raudhatul Muhibbain
initiative: rm
---

      <!-- Header -->
      <div class="wrapper m-header">
        <header class="row">
          <h1>
            Raudhatul<span>Muhibbain</span>
            <span class="sub">A garden from <span>the gardens of paradise, InsyaAllah</span></span>
          </h1>

          <nav>
            <a class="btn btn-tumblr" href="http://raudhatulmuhibbain.tumblr.com/"><i class="fa fa-group"></i>
              Join Our <span>Community</span></a>
          </nav>
        </header>
      </div>

      <!-- Hero -->
      <div class="wrapper m-hero">
        <section class="hero">
          <div class="alpha">
            <div class="logo mobile">
              <%= image_tag 'rm/logo.png', :class => 'logoimg' %>
            </div>
            <div class="word">
              As the human heart is only truly alive only with the remembrance of <em>Allah (SWT) and His Beloved (SAW),</em> so too is the case for <em>Madrasah&nbsp;Mahabbah.</em>
            </div>
          </div>
          <div class="beta">
            <div class="logo desktop">
              <%= image_tag 'rm/logo.png', :class => 'logoimg' %>
            </div>
            <div class="word">
              <em>Raudhatul Muhibbain</em> is where we come together to remind ourselves and all present of true love... <em>the love of Ar Rahman (SWT) and His&nbsp;Beloved&nbsp;(SAW).</em>
            </div>
          </div>
          <div class="gamma">
            <div class="word">
              It is the <em>heart</em> of <em>Madrasah Mahabbah,</em> InsyaAllah.
            </div>
          </div>
        </section>
      </div>

      <!-- Aside -->
      <div class="wrapper m-aside hidden">
        <section class="row">
          <a class="btn" href="http://raudhatulmuhibbain.tumblr.com/"><i class="fa fa-group"></i>
            Join Our <span>Community</span></a>
        </section>
      </div>
