@charset "utf-8";

@import
  'bourbon/bourbon',
  'neat-settings',
  'neat/neat',
  'fonts',
  'vars',
  'responsive';

$main-color: #85b91e;
$alt-color: #ad3629;
$init-color: $main-color;
$text-color: #868375;
$bgcolor: #e2decc;

@import
  'base',
  'topnav',
  'footer',
  'overlay-init',
  'overlay-about',
  'overlay-modal';

a {
  color: $main-color;
}

a:hover, a:focus {
  color: darken($main-color, 10%);
}

.m-header {
  background: #fff;
  margin: 0 auto;
  padding: 4em 0;
  text-align: center;

  h1 {
    background: transparent url(../images/arabdots-green.svg) center top no-repeat;
    margin: 0;
    padding-top: 0.8em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $main-color;
    letter-spacing: -5px;
    -webkit-text-stroke: 0.8px rgba(#000, 0.001);

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: lighten($main-color, 10%);
    }

    span.sub {
      display: block;
      padding: 0;
      font-size: 0.65em;
      font-weight: 400;
      font-family: $texgyre-font;
      letter-spacing: 0;
      width: auto;
      color: saturate(lighten($text-color, 5%), 10%);

      > span {
        color: saturate(lighten($text-color, 20%), 20%);
      }
    }
  }

  @include media($mobile) {
    padding: 2em 0;

    h1 {
      font-size: 2em;
      span.sub {
        font-size: 0.5em;
        letter-spacing: 1px;
        word-spacing: normal;
      }
    }
  }
}

// sections
section h2 {
  background: transparent url(../images/arabdots-brown.svg) center top no-repeat;
  background-size: auto 50%;
  padding-top: 0.6em;
  margin-top: 0;
  font-family: $avant-font;
  letter-spacing: -3px;
  line-height: 0.8em;
  display: inline-block;
  border-bottom: 2px solid rgba($text-color, 0.5);
}

section button {
  border: none;
  display: inline-block;
  background: $text-color;
  color: #fff;
  // color: rgba(#000,0.4);
  font-weight: 400;
  font-family: $texgyre-font;
  padding: 15px 30px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 3px;
  opacity: 1;
  @include transition(opacity 0.5s);

  span {
    font-family: $texgyrebold-font;
  }

  &:hover {
    opacity: .7;
  }

  @include media($mobile) {
    padding: 5px 8px;
  }

  &.trigger-about {
    background: lighten($alt-color, 10%);
  }

  &.trigger-init {
    background: $main-color;
  }

  &.facebook {
    background: #3b5999;
    color: rgba(#fff, 0.5);
  }
}

.m-welcome {
  z-index: 10;
  background: transparent;
  background: url(../images/herobg.jpg) fixed;

  p {
    padding-top: 0;
  }

  p strong.mm {
    background: transparent url(../images/arabdots-brown.svg) center top no-repeat;
    background-size: auto 38%;

    font-family: $avant-font;
    letter-spacing: -3px;
    padding: 0.6em 0.1em 0 0;

    span {
      color: lighten(saturate($text-color, 10%), 15%);
    }
  }

  p em {
    // color: lighten(saturate($text-color, 10%), 15%);
    font-weight: 600;
    // font-style: normal;
  }

  .error {
    color: lighten($alt-color, 10%);
  }
}

.m-quran {
  z-index: 10;
  background: rgba($text-color, 0.7);
  background: url(../images/quranbg.jpg) center center no-repeat;
  background-size: cover;

  blockquote {
    display: none;
    margin: 0;
    font-style: italic;
    background: transparent url(../images/bismillah-white.png) center top no-repeat;
    padding-top: 1.5em;
    // font-size: 0.9em;
    color: saturate(lighten($text-color, 40%), 25%);
    font-size: 1.3em;
    line-height: 0.9em;
    text-shadow: 0 0 5px rgba(#000, 1);

    p {
      padding: 0.6em 0;
    }

    .cite {
      font-size: 0.8em;
      font-weight: 700;
      padding-bottom: 0;
      color: saturate(lighten($text-color, 30%), 15%);
      letter-spacing: -1px;

      // &:before {
      //   content: '\2014';
      // }
    }

    @include media($mobile) {
      background-size: 80% auto;
      font-size: 0.95em;
      padding: 1.5em 1em 0;
      margin: 0;
    }
  }
}

.m-related {
  z-index: 10;
  // padding-top: 2em;
  background: #fff;

  h2 {
    background: none;
    margin-top: 0;
    font-family: $avant-font;
    color: $main-color;
    letter-spacing: -3px;
    line-height: 0.8em;
    border: none;

    span {
      display: inline-block;
      background: transparent url(../images/arabdots-green.svg) center top no-repeat;
      background-size: auto 45%;
      padding-top: 0.5em;
      color: lighten($main-color, 10%);
    }
  }

  nav {
    /* Effect: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
    a {
      position: relative;
      display: inline-block;
      margin: 0.5em 0.3em;
      outline: none;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 1em;

      line-height: 1.5em;
      @include perspective(1000px);

      &:hover,
      &:focus {
        outline: none;
      }
    }

    a img {
      display: block;
      margin: 0 auto 0.5em;
    }

    a span {
      color: $text-color;
      font-size: 0.8em;
      position: relative;
      display: block;
      padding: 0 14px;
      background: saturate(lighten($text-color, 40%), 25%);
      @include transition(all 0.3s);
      @include transform-origin(50% 0);
      @include transform-style(preserve-3d);
    }

    .csstransforms3d & a span::before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: $text-color;
      color: #fff;
      font-size: 0.8em;
      letter-spacing: 3px;
      opacity: 1;
      content: attr(data-hover);
      @include transition(background 0.3s);
      @include transform(rotateX(-90deg));
      @include transform-origin(50% 0);
    }

    a:hover span,
    a:focus span {
      @include transform(rotateX(92deg) translateY(-33px));
    }

    .csstransforms3d & a:hover span::before,
    .csstransforms3d & a:focus span::before {
      // background: saturate(lighten($text-color, 40%), 25%);
    }

    @include media($mobile) {
      a {
        display: block;
        width: 100%;
        margin: 0.5em 0;
      }
      a span {
        width: 100%;
      }
    }
  }
}

.m-footer .footer {
  .alpha {
    // background: #fff;
    .text, .text a {
      color: saturate(lighten($text-color, 10%), 5%);
    }
  }
}

.md-modal .lailahaillallah {
  min-height: 126px;
  margin: 10px 0 0;
  background: transparent url(../images/lailahaillallah.png) center center no-repeat;

  @include media($mobile) {
    background-size: 100%;
  }
}
