//
// MAIN SITE
//

@charset "utf-8";

@import
  "scut",
  "color-schemer",
  "ceaser-easing",
  "inc/bourbon/bourbon",
  "inc/neat-settings",
  "inc/neat/neat",
  "inc/color-me-sass",
  "inc/fonts",
  "inc/colors";

$main-color: #85b91e;
$alt-color: #ad3629;
$init-color: $main-color;
$text-color: #868375;
$text-color: #73726e;
$bgcolor: #e2decc;

@import
  "inc/base",
  "inc/topnav",
  "inc/footer";
  // "inc/overlay-inits",
  // "inc/overlay-about",
  // "inc/overlay-modal";

// =============================================================================
// MIXINS & FUNCTIONS

@mixin center-vertical {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin no-center-vertical {
  position: static;
  top: 0;
  transform: translateY(0);
}

@function image($image) {
  @return url(../images/#{$image});
}

a {
  color: $main-color;
}

a:hover, a:focus {
  color: darken($main-color, 10%);
}

.m-cover {
  background: rgba(#fff, .9);
  cursor: pointer;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 2000;
  transition: all .5s ease, visibility 0s .5s ease;

  &.hide {
    opacity: 0;
    visibility: hidden;
    // transform: translateY(-100%);
  }

  .cover-container {
    height: 100%;
    width: 100%;
    position: relative;
    text-align: center;

    img {
      border: 10px solid $main-color;
      box-shadow: 0 0 100px rgba($text-color, 1);
      min-height: 95%;
      max-height: 95%;
      display: block;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.m-header {
  background: #fff;
  margin: 0 auto;
  padding: 4em 0;
  text-align: center;

  h1 {
    background: transparent image("arabdots-green.svg") center top no-repeat;
    margin: 0;
    padding-top: 0.8em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $main-color;
    letter-spacing: -5px;
    -webkit-text-stroke: 0.8px rgba(#000, 0.001);

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: lighten($main-color, 10%);
    }

    span.sub {
      display: block;
      padding: 0;
      font-size: 0.65em;
      font-weight: 400;
      font-family: $texgyre-font;
      letter-spacing: 0;
      width: auto;
      color: saturate(lighten($text-color, 5%), 10%);

      > span {
        color: saturate(lighten($text-color, 20%), 20%);
      }
    }
  }

  @include media($mobile) {
    padding: 2em 0;

    h1 {
      font-size: 2em;
      span.sub {
        font-size: 0.5em;
        letter-spacing: 1px;
        word-spacing: normal;
      }
    }
  }
}

// sections
section h2 {
  display: inline-block;
  width: auto;
  margin: 1em auto;
  padding: 10px 30px;
  // font-family: $texgyre-font;
  font-family: $raleway-font;
  font-size: 1.6em;
  // letter-spacing: 4px;
  letter-spacing: 0;
  word-spacing: -.25em;
  font-weight: 400;
  line-height: 0.8em;
  border: none;
  text-transform: uppercase;
  // border-bottom: 2px solid rgba($text-color, 0.5);
  span {
    // font-family: $texgyrebold-font;
    font-weight: 900;
  }
}

section button, section a.button {
  border: none;
  display: inline-block;
  background: $text-color;
  color: #fff;
  // color: rgba(#000,0.4);
  font-weight: 400;
  font-family: $texgyre-font;
  padding: 15px 30px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 3px;
  opacity: 1;
  @include transition(opacity 0.5s);

  span {
    font-family: $texgyrebold-font;
  }

  &:hover {
    opacity: .7;
  }

  @include media($mobile) {
    padding: 5px 8px;
  }

  &.trigger-about {
    // background: lighten($alt-color, 10%);
  }

  &.trigger-init {
    // display: none;
    background: $main-color;
  }

  &.facebook {
    background: #3b5999;
    color: rgba(#fff, 0.5);
  }
}

.m-welcome {
  z-index: 10;
  background: #fff image("herobg.jpg");
  font-size: 1.2em;
  line-height: 1.1em;

  p {
    padding-top: 0;
  }

  p strong.mm {
    background: transparent image("arabdots-brown.svg") center top no-repeat;
    background-size: auto 43%;

    font-family: $avant-font;
    font-size: 1.1em;
    letter-spacing: -3px;
    padding: 0.7em 0.1em 0 0;
    line-height: 0.85em;

    span {
      color: lighten(saturate($text-color, 10%), 15%);
    }
  }

  p em {
    // color: lighten(saturate($text-color, 10%), 15%);
    color: darken($text-color, 20%);
    // font-weight: 600;
    font-style: normal;
    // letter-spacing: -1px;
  }

  .x404 & {
    background: #fff;
    h2 {
      margin-bottom: 2em;
    }
  }

  .error {
    color: lighten($alt-color, 10%);
  }
}

.m-quran {
  z-index: 10;
  background: rgba($text-color, 0.7);
  background: image("quranbg.jpg") no-repeat fixed;
  background-size: cover;

  @include media(new-breakpoint(max-width 1000px 8)) {
    background-size: auto 200%;
  }

  .quran {
    @include outer-container;

    text-shadow: 1px 2px 3px rgba(#000, .5);

    .alpha {
      @include span-columns(8);
      @include shift(2);

      @include media($mobile) {
        @include span-columns(4);
        @include shift(0);
      }
      @include media($tablet) {
        @include span-columns(8);
        @include shift(0);
      }
    }
  }

  blockquote {
    display: none;
    margin: 3.5em 1em;
    font-style: italic;
    background: transparent image("bismillah-white.png") center top no-repeat;
    padding-top: 1.5em;
    color: #fff;
    line-height: 0.98em;
    text-align: center;

    p {
      padding: 0.6em 0;
      b {
        letter-spacing: -1px;
      }
    }

    .cite {
      font-size: 0.8em;
      font-weight: 700;
      padding-bottom: 0;
      // color: saturate(lighten($text-color, 20%), 10%);
      color: #b6b1ac;
      letter-spacing: -1px;
    }

    @include media($mobile) {
      background-size: 90% auto;
      font-size: 0.7em;
      padding: 1.5em 1em 0;
      margin: 2em 0.5em;
    }
  }
}

.m-pillars {
  background: #fff image("onepage-bg7.jpg") no-repeat fixed;
  // background-size: cover;

  overflow: hidden;
  position: relative;

  @include media(new-breakpoint(max-width 1000px 8)) {
    background-size: auto 150%;
  }

  .row {
    position: relative;

    padding: 2em .5em;
    color: #777;
  }

  .title {
    position: relative;

    margin-bottom: 2em;
    text-shadow: 0 3px 0 rgba(#000, .2);

    h2 {
      color: #fff;
      padding: 20px 30px 24px;
      background: rgba(#7c7c7c, .9);
      box-shadow: inset 0 -4px 0 rgba(#000, 0.15);
      border-radius: 4px;
    }
  }

  h3 {
    display: inline-block;
    margin: 0 0 1em;
    padding: 12px 30px 14px;
    color: #fff;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: $raleway-font;
    // letter-spacing: 0;
    // font-size: .9em;
    // line-height: .8;
    box-shadow: inset 0 -4px 0 rgba(#000, 0.15);
  }

  .text {
    padding: 0 .8em;
    font-size: .9em;
    line-height: 1;

    p {
      margin: 0 0 .8em;
      font-style: italic;
    }

    p em {
      font-weight: 700;
      letter-spacing: -1px;
    }

  }

  .alpha, .beta, .gamma {
    @include span-columns(4);

    position: relative;

    .wrap {
      position: relative;
      padding: 2em .5em 1em;
      margin: 3px 3px;
      background: rgba(#fff, .8);
      border-radius: 5px;
      box-shadow: inset 0 -4px 0 rgba(#000, 0.15);
    }
  }

  .alpha {
    h3 {
      background: #44a3de;
    }
  }

  .beta {
    h3 {
      background: #ec548c;
    }
  }

  .gamma {
    h3 {
      background: #74af17;
    }
  }

  @include media($tablet) {
    font-size: 1em;

    .alpha, .beta, .gamma {
      @include span-columns(8);
      @include shift(0);

      .wrap {
        margin: 0 10px;
      }
    }
  }
}


$colors: $rm-color $mm-color $mf-color $mfb-color $mtc-color $mtt-color $mb-color $mt-color;
$inits: rm mm mf mfb mtc mtt mb mt;

$len: length($colors);
$keyd: (100 / $len);

@keyframes bgrotate {
  $cur: 0%;
  @each $color in $colors {
    #{$cur} { background-color: $color; }
    $cur: $cur + $keyd;
  }
  100% { background-color: nth($colors, 1); }
}

@keyframes colorrotate {
  $cur: 0%;
  @each $color in $colors {
    #{$cur} { color: $color; }
    $cur: $cur + $keyd;
  }
  100% { color: nth($colors, 1); }
}

$s3-color: shade(saturate($main-color, 0), 10);
// $s3-color: $blueHoliday;

.m-initiatives {
  // background: $s3-color image("starbg.png") fixed;
  background: $s3-color image("footerbeta.png") fixed;
  // animation: bgrotate 20s infinite linear;
  padding: 1em 0 3em;
  color: #fff;
  text-align: center;

  transition: background-color 2s ease;
  box-shadow: inset 0 10px 0 rgba(#000, .15), inset 0 -10px 0 rgba(#000, .15);

  button, a.btn {
    $pad-y: 8px;
    $pad-x: 20px;
    $bevel: 3px;

    border: none;
    display: inline-block;
    padding: #{$pad-y} #{$pad-x} #{$pad-y+$bevel};
    background: #888;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 4px;
    font-weight: 600;
    font-size: .6em;
    line-height: 1;
    box-shadow: inset 0 #{-$bevel} 0 rgba(#000, .2);

    &:active, .m-init .init a:active .overlay & {
      box-shadow: none;
      transform: translateY(#{$bevel});
      padding: #{$pad-y} #{$pad-x} #{$pad-y};
      box-shadow: inset 0 -1px 0 rgba(#000, .2);
    }
  }

  .title h2 {
    border: none;
  }

  .init-wrapper {
    // @include center-vertical;

    // .disabled-onepage-scroll & {
    //   @include no-center-vertical;
    // }
  }

  .title {
    text-shadow: 0 3px 0 rgba(#000, .1);
  }

  .row {
    @include outer-container;
    font-size: 0.8em;
    line-height: 1.1;
  }

  .col {
    @include span-columns(3);
    @include pad(10px);

    @include media($tablet) {
      @include span-columns(4);
      @include pad(7px);
    }

    @include media($mobile) {
      @include span-columns(4);
      @include pad(5px);
    }
  }

  .init {
    a {
      display: block;
      position: relative;
      height: 230px;
      background: #fff;
      box-shadow: 0 4px 0 rgba(#000, .15);
      overflow: hidden;

      @include media($short) {
        height: 210px;
      }
      @include media($tablet) {
        height: 200px;
      }
      @include media($mobile) {
        height: 160px;
      }

    }

    .wrap {
      @include center-vertical;

      padding: 1em;

      h3 {
        // animation: colorrotate 20s infinite linear;
        margin: 0 0 .6em;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1em;
        letter-spacing: 2px;
        line-height: .9;
        color: $s3-color;
        transition: color 1s;
      }

      .text {
        margin: 0;
        color: #888;
        font-size: .9em;
        font-style: italic;
        line-height: 1;

        em {
          font-weight: 400;
          font-size: 1.1em;
          letter-spacing: -1px;
        }
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      transform: translateY(150%);
      transition: all .3s ease;

      .wrap-ol {
        @include center-vertical;
      }

      .logo {
        background: image("rm/logo.png") center no-repeat;
        background-size: 100%;
        height: 120px;
        width: 120px;
        margin: 0 auto 8px;
      }

      button {
        position: relative;
        top: 65%;
        // width: 150px;
        background: $rm-color;
      }

      @include media($mobile) {
        display: none;
      }
    }

    &:hover {
      .overlay {
        transform: translateY(0);
      }
    }

    &:active {
      // .overlay button {
      //   box-shadow: none;
      //   margin-top: 3px;
      //   padding: 4px 15px 4px;
      //   box-shadow: inset 0 -1px 0 rgba(#000, .2);
      // }
    }
  }

  @each $init in $inits {
    $clr: nth($colors, index($inits, $init));

    &.bg-#{$init} {

      @if saturation($clr) > 50 {
        background-color: desaturate($clr, 20);
      } @else {
        background-color: saturate($clr, 10);
      }

      .init .wrap {
        h3 {
          color: desaturate($clr, 10);
        }
      }
    }

    .m-#{$init} .overlay {
      background: rgba(saturate(tint($clr, 15), 15), .9);

      .logo {
        background-image: image("logo_#{$init}.png");
      }

      button {
        background: $clr;
      }
    }
  }
}

.m-friends {
  // background: transparent image("friendsRM2.jpg") no-repeat;
  // background-size: cover;
  width: 100%;
  height: 500px;
  // box-shadow: inset 0 -200px 100px rgba(#111, .6), 0 10px 0 rgba(#000, .15);
  box-shadow: 0 10px 0 rgba(#000, .15);

  overflow: hidden;

  .row-friends {
    position: relative;
    text-align: center;
    height: 100%;

    figure, figcaption {
      margin: 0;
      padding: 0;
    }

    figure {
      width: 100%;
      height: 100%;
      position: relative;

      background: #2b3559;

      img {
        position: absolute;
        top: -60px;
        left: 0;
        width: 100%;
        height: auto;
        opacity: .8;
        transition: opacity .5s ease, transform .5s ease;
      }

      figcaption {
        position: absolute;
        top: 70%;
        left: 0;
        width: 100%;
        color: #fff;
        text-shadow: 0 3px 0 rgba(#000, .15);
        transition: all .2s ease-in-out;

        h2 {
          margin: 0 0 10px;
          padding: 5px 0;

          font-size: 2.5em;
          color: #fff;

          // letter-spacing: 8px;

          transition: all .3s ease;
        }

        .sub {
          display: block;
          font-size: 1em;
          font-family: $raleway-font;
          font-weight: 500;
          // word-spacing: .15em;
          color: #b3b8de;
          // letter-spacing: 0;
          line-height: 1em;
          text-transform: uppercase;
          transform: translateY(20px);
          opacity: 0;
          transition: all .2s ease-out;
        }
      }

      &:hover {
        img {
          opacity: .4;
          transform: rotate(-1.5deg) scale(1.15) translateY(-10px);
        }

        figcaption {
          h2 {
            transform: translateY(-60px);
          }

          .sub {
            transform: translateY(-60px);
            opacity: 1;
          }
        }
      }
    }
  }
}

// .m-related {
//   z-index: 10;
//   // padding-top: 2em;
//   background: #fff;

//   h2 {
//     margin-top: 0;
//   }

//   nav {
//     /* Effect: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
//     a {
//       position: relative;
//       display: inline-block;
//       margin: 0.5em 0.3em;
//       outline: none;
//       color: #fff;
//       text-decoration: none;
//       // text-transform: uppercase;
//       letter-spacing: 1px;
//       font-weight: 400;
//       font-size: 1em;

//       line-height: 1.3em;
//       @include perspective(1000px);

//       &:hover,
//       &:focus {
//         outline: none;
//       }
//     }

//     a img {
//       display: block;
//       margin: 0 auto 0.5em;
//     }

//     a span {
//       color: $text-color;
//       font-size: 0.7em;
//       position: relative;
//       display: block;
//       padding: 0 1em;
//       background: saturate(lighten($text-color, 40%), 25%);
//       background: #fff;
//       @include transition(all 0.3s);
//       @include transform-origin(50% 0);
//       @include transform-style(preserve-3d);
//     }

//     .csstransforms3d & a span::before {
//       position: absolute;
//       top: 100%;
//       left: 0;
//       width: 100%;
//       height: 100%;
//       background: $text-color;
//       color: #fff;
//       font-size: 0.7em;
//       font-weight: 700;
//       text-transform: uppercase;
//       letter-spacing: 2px;
//       opacity: 1;
//       content: attr(data-hover);
//       @include transition(background 0.3s);
//       @include transform(rotateX(-90deg));
//       @include transform-origin(50% 0);
//     }

//     a:hover span,
//     a:focus span {
//       @include transform(rotateX(92deg) translateY(-33px));
//     }

//     .csstransforms3d & a:hover span::before,
//     .csstransforms3d & a:focus span::before {
//       // background: saturate(lighten($text-color, 40%), 25%);
//     }

//     @include media($mobile) {
//       a {
//         display: block;
//         width: 100%;
//         margin: 0.5em 0;
//       }
//       a span {
//         width: 100%;
//       }
//     }
//   }
// }

.m-footer .footer {
  .alpha {
    // background: #fff;
    .text, .text a {
      color: saturate(lighten($text-color, 10%), 5%);
    }
  }
}

.md-modal .lailahaillallah {
  min-height: 126px;
  margin: 10px 0 0;
  background: transparent image("lailahaillallah.png") center center no-repeat;

  @include media($mobile) {
    background-size: 100%;
  }
}
