//
// MAIN SITE
//

@charset "utf-8";

@import
  'bourbon/bourbon',
  'neat-settings',
  'neat/neat',
  'fonts',
  'colors';

$main-color: #85b91e;
$alt-color: #ad3629;
$init-color: $main-color;
$text-color: #868375;
$bgcolor: #e2decc;

@import
  'base',
  'topnav',
  'footer',
  'overlay-inits',
  'overlay-about',
  'overlay-modal';

a {
  color: $main-color;
}

a:hover, a:focus {
  color: darken($main-color, 10%);
}

.m-header {
  background: #fff;
  margin: 0 auto;
  padding: 4em 0;
  text-align: center;

  h1 {
    background: transparent url(../images/arabdots-green.svg) center top no-repeat;
    margin: 0;
    padding-top: 0.8em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $main-color;
    letter-spacing: -5px;
    -webkit-text-stroke: 0.8px rgba(#000, 0.001);

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: lighten($main-color, 10%);
    }

    span.sub {
      display: block;
      padding: 0;
      font-size: 0.65em;
      font-weight: 400;
      font-family: $texgyre-font;
      letter-spacing: 0;
      width: auto;
      color: saturate(lighten($text-color, 5%), 10%);

      > span {
        color: saturate(lighten($text-color, 20%), 20%);
      }
    }
  }

  @include media($mobile) {
    padding: 2em 0;

    h1 {
      font-size: 2em;
      span.sub {
        font-size: 0.5em;
        letter-spacing: 1px;
        word-spacing: normal;
      }
    }
  }
}

// sections
section h2 {
  display: inline-block;
  width: auto;
  margin: 1em auto;
  padding: 10px 30px;
  font-family: $texgyre-font;
  font-size: 1.2em;
  letter-spacing: 8px;
  font-weight: 300;
  line-height: 0.8em;
  border: none;
  text-transform: uppercase;
  border-bottom: 2px solid rgba($text-color, 0.5);
  span {
    font-family: $texgyrebold-font;
  }
}

section button, section a.button {
  border: none;
  display: inline-block;
  background: $text-color;
  color: #fff;
  // color: rgba(#000,0.4);
  font-weight: 400;
  font-family: $texgyre-font;
  padding: 15px 30px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 3px;
  opacity: 1;
  @include transition(opacity 0.5s);

  span {
    font-family: $texgyrebold-font;
  }

  &:hover {
    opacity: .7;
  }

  @include media($mobile) {
    padding: 5px 8px;
  }

  &.trigger-about {
    // background: lighten($alt-color, 10%);
  }

  &.trigger-init {
    // display: none;
    background: $main-color;
  }

  &.facebook {
    background: #3b5999;
    color: rgba(#fff, 0.5);
  }
}

.m-welcome {
  z-index: 10;
  background: #fff url(../images/herobg.jpg);
  font-size: 1.2em;
  line-height: 1.1em;

  p {
    padding-top: 0;
  }

  p strong.mm {
    background: transparent url(../images/arabdots-brown.svg) center top no-repeat;
    background-size: auto 43%;

    font-family: $avant-font;
    font-size: 1.1em;
    letter-spacing: -3px;
    padding: 0.7em 0.1em 0 0;
    line-height: 0.85em;

    span {
      color: lighten(saturate($text-color, 10%), 15%);
    }
  }

  p em {
    // color: lighten(saturate($text-color, 10%), 15%);
    color: darken($text-color, 20%);
    // font-weight: 600;
    font-style: normal;
    // letter-spacing: -1px;
  }

  .x404 & {
    background: #fff;
    h2 {
      margin-bottom: 2em;
    }
  }

  .error {
    color: lighten($alt-color, 10%);
  }
}

.m-separator {
  background: #fff;
  .row {
    padding: 2em 0;
  }
}

.m-init {
  background: #fff;
  padding: 0 0 4em;
  color: #fff;
  // text-shadow: 1px 2px 1px rgba(#000, 0.3);
  text-align: right;
  position: relative;

  .row {
    padding: 0;
  }

  .init {
    transform: translateY(-3000px);
    padding: 2px;
  }

  a {
    display: block;
    height: 200px;
    padding: 25px;
    color: #fff;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.770, 0.000, 0.175, 1.000);

    background: #fff url(../images/bg-rm-500.jpg) center no-repeat;
    // background-size: 100% auto;

    h3 {
      display: block;
      margin: 0 0 5px;
      padding: 8px;
      background: rgba(#000, 0.6);
      line-height: 0.9em;
      letter-spacing: -1px;
      font-weight: 700;
      font-size: 1.3em;

      position: relative;
      transition: all 0.2s;

      em {
        font-style: normal;
      }
    }

    span.text {
      display: block;
      padding: 8px;
      background: rgba(#000, 0.6);
      font-size: 0.9em;
      font-style: italic;
      line-height: 0.9em;

      transform: translateX(120%);
      transition: all 0.5s cubic-bezier(0.770, 0.000, 0.175, 1.000);

      em {
        letter-spacing: -1px;
        font-weight: 700;
      }
    }

    span.logo {
      display: block;
      width: 100px;
      height: 100px;
      background: #fff url(../images/rm/logo.png) center no-repeat;
      background-size: 80%;
      margin-top: 25px;
      float: right;

      transform: translateX(150px);
      transition: all 0.5s 0.15s cubic-bezier(0.770, 0.000, 0.175, 1.000);
    }

    &:hover {
      height: 350px;
      h3 {
        top: 0;
      }
      span.text {
        transform: translateX(0);
      }
      span.logo {
        transform: translateX(25px);
      }
    }
  }

  .alpha, .beta, .gamma {
    @include span-columns(4);
    font-size: 0.8em;
  }

  .alpha {
    margin-top: 0;
  }
  .beta {
    margin-top: 3em;
  }
  .gamma {
    margin-top: 8em;
  }

  .m-rm {
    animation: bounceInDown 1s 0.5s forwards;
    a {
      background-image: url(../images/bg-rm-500.jpg);
      height: 350px;
    }
  }
  .m-mm {
    animation: bounceInDown 1s 0.7s forwards;
    a {
      background-image: url(../images/bg-mm-500.jpg);
      height: 350px;
      span.logo {
        background-image: url(../images/mm/logo.png);
      }
    }
  }
  .m-mf {
    animation: bounceInDown 1s 0.9s forwards;
    a {
      background-image: url(../images/bg-mf-500.jpg);
      height: 350px;
      span.logo {
        background-image: url(../images/mf/logo.png);
      }
    }
  }
  .m-mfb {
    animation: bounceInDown 1s 1s forwards;
    a {
      background-image: url(../images/bg-mfb-500.jpg);
      span.logo {
        background-image: url(../images/mfb/logo.png);
      }
    }
  }
  .m-mtc {
    animation: bounceInDown 1s 1.2s forwards;
    a {
      background-image: url(../images/bg-mtc-500.jpg);
      span.logo {
        background-image: url(../images/mtc/logo.png);
      }
    }
  }
  .m-mtt {
    animation: bounceInDown 1s 1.4s forwards;
    a {
      background-image: url(../images/bg-mtt-500.jpg);
      span.logo {
        background-image: url(../images/mtt/logo.png);
      }
    }
  }
  .m-mb {
    animation: bounceInDown 1s 1.6s forwards;
    a {
      background-image: url(../images/bg-mb-500.jpg);
      span.logo {
        background-image: url(../images/mb/logo.png);
      }
    }
  }
  .m-mt {
    animation: bounceInDown 1s 1.8s forwards;
    a {
      background-image: url(../images/bg-mt-500.jpg);
      span.logo {
        background-image: url(../images/mt/logo.png);
      }
    }
  }

  &.m-init-desktop {
    display: block;
  }
  &.m-init-mobile {
    display: none;
  }

  @include media($tablet) {
    &.m-init-desktop {
      display: none;
    }
    &.m-init-mobile {
      display: block;
    }
    .init {
      text-align: center;
      animation: none;
      transform: translateY(0);
      padding: 0;
      a {
        background-size: cover;
        height: auto;
        padding: 5px;
        h3 {
          margin-bottom: 2px;
          font-size: 1.2em;
        }
        span {
          transform: translateX(0);
        }
      }
    }
  }
  @include media($mobile) {
    font-size: 0.8em;
  }
}

.m-quran {
  z-index: 10;
  background: rgba($text-color, 0.7);
  background: url(../images/quranbg.jpg) center center no-repeat;
  background-size: cover;

  .quran {
    @include outer-container;
    .alpha {
      @include span-columns(7);
      @include shift(5);

      @include media($mobile) {
        @include span-columns(4);
        @include shift(0);
      }
      @include media($tablet) {
        @include span-columns(8);
        @include shift(0);
      }
    }
  }

  blockquote {
    display: none;
    margin: 4em 1em;
    font-style: italic;
    background: transparent url(../images/bismillah-white.png) center top no-repeat;
    padding-top: 1.5em;
    color: #fff;
    line-height: 0.98em;
    text-align: center;

    p {
      padding: 0.6em 0;
      b {
        letter-spacing: -1px;
      }
    }

    .cite {
      font-size: 0.8em;
      font-weight: 700;
      padding-bottom: 0;
      color: saturate(lighten($text-color, 20%), 10%);
      letter-spacing: -1px;
    }

    @include media($mobile) {
      background-size: 90% auto;
      font-size: 0.7em;
      padding: 1.5em 1em 0;
      margin: 2em 0.5em;
    }
  }
}

.m-related {
  z-index: 10;
  // padding-top: 2em;
  background: #fff;

  h2 {
    margin-top: 0;
  }

  nav {
    /* Effect: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
    a {
      position: relative;
      display: inline-block;
      margin: 0.5em 0.3em;
      outline: none;
      color: #fff;
      text-decoration: none;
      // text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 1em;

      line-height: 1.3em;
      @include perspective(1000px);

      &:hover,
      &:focus {
        outline: none;
      }
    }

    a img {
      display: block;
      margin: 0 auto 0.5em;
    }

    a span {
      color: $text-color;
      font-size: 0.7em;
      position: relative;
      display: block;
      padding: 0 1em;
      background: saturate(lighten($text-color, 40%), 25%);
      background: #fff;
      @include transition(all 0.3s);
      @include transform-origin(50% 0);
      @include transform-style(preserve-3d);
    }

    .csstransforms3d & a span::before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: $text-color;
      color: #fff;
      font-size: 0.7em;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2px;
      opacity: 1;
      content: attr(data-hover);
      @include transition(background 0.3s);
      @include transform(rotateX(-90deg));
      @include transform-origin(50% 0);
    }

    a:hover span,
    a:focus span {
      @include transform(rotateX(92deg) translateY(-33px));
    }

    .csstransforms3d & a:hover span::before,
    .csstransforms3d & a:focus span::before {
      // background: saturate(lighten($text-color, 40%), 25%);
    }

    @include media($mobile) {
      a {
        display: block;
        width: 100%;
        margin: 0.5em 0;
      }
      a span {
        width: 100%;
      }
    }
  }
}

.m-footer .footer {
  .alpha {
    // background: #fff;
    .text, .text a {
      color: saturate(lighten($text-color, 10%), 5%);
    }
  }
}

.md-modal .lailahaillallah {
  min-height: 126px;
  margin: 10px 0 0;
  background: transparent url(../images/lailahaillallah.png) center center no-repeat;

  @include media($mobile) {
    background-size: 100%;
  }
}
