---
layout: initiatives
title: Mabkhoor Music
initiative: mm
---

      <!-- Header -->
      <div class="wrapper mahabbah-header">
        <header class="row">
          <h1>
            Mabkhoor<span>Music</span>
            <span class="sub">
              When there is <em>true harmony in singing,</em> extra notes that were not actually there <em>can&nbsp;be&nbsp;heard.</em>
            </span>
            <span class="sub">
              When there is <em>true harmony in life,</em> what was not there before <em>can&nbsp;appear.</em>
            </span>
          </h1>

          <nav>
            <a class="btn btn-tumblr" href="http://mabkhoormusic.tumblr.com/"><i class="fa fa-group"></i>
              Join Our <span>Community</span></a>
          </nav>
        </header>
      </div>

      <!-- Hero -->
      <div class="wrapper mahabbah-hero">
        <section class="hero">
          <div class="alpha">
            <div class="logo">
              <%= image_tag 'mm/logo.png', :class => 'logoimg' %>
            </div>
          </div>
          <div class="beta">
            <div class="word">
              <em>Mabkhoor Music</em> is the creative component of <em>Madrasah Mahabbah.</em>
            </div>
          </div>
          <div class="gamma">
            <div class="word">
              We intend to build and develop a platform for all, especially the young among us, where they can <em>express their love</em> for Al-Khaliq (SWT) and His Beloved (SAW), <em>through arts.</em>
            </div>
          </div>
        </section>
      </div>

      <!-- Aside -->
      <div class="wrapper mahabbah-aside hidden">
        <section class="row">
          <a class="btn" href="http://mabkhoormusic.tumblr.com/"><i class="fa fa-group"></i>
            Join Our <span>Community</span></a>
        </section>
      </div>
