---
layout: initiatives
title: Mahabbah Fashion
initiative: mf
---

      <!-- Header -->
      <div class="wrapper m-header">
        <header class="row">
          <h1>
            Mahabbah<span>Fashion</span>
            <span class="sub"><span>Akhlaq [virtue]</span> of Rasulullah <span>is the best attire</span> one can wear.</span>
          </h1>

          <nav>
            <a class="btn btn-tumblr" href="http://mahabbahfashion.tumblr.com/"><i class="fa fa-group"></i>
              Join Our <span>Community</span></a>
          </nav>
        </header>
      </div>

      <!-- Hero -->
      <div class="m-hero">
        <!-- <section class="row clearfix"> -->
        <section class="hero">

          <div class="alpha">
            <div class="logo mobile">
              <%= image_tag 'mf/logo.png', :class => 'logoimg' %>
            </div>
            <div class="word">
              <h4><span>Muslim</span><span class="alt">Purpose</span></h4>
              All praise be to Allah (SWT) for the great blessing of Islam. <em>Being Muslim means having a higher <b>purpose.</b></em>
            </div>
          </div>
          <div class="beta">
            <div class="logo desktop">
              <%= image_tag 'mf/logo.png', :class => 'logoimg' %>
            </div>
            <div class="word">
              <h4><span>Design</span><span class="alt">Practice</span></h4>
              All praise be to Allah (SWT) for the great blessing of HIS designs. <em>With HIS designs we are able to <b>practice.</b></em>
            </div>
          </div>
          <div class="gamma">
            <div class="word">
              <h4><span>Wear</span><span class="alt">Persevere</span></h4>
              All praise be to Allah (SWT) for the great blessing of the garment of taqwa (piety). <em>Taqwa enables us to <b>persevere.</b></em>
            </div>
          </div>
        </section>
      </div>

      <!-- Aside -->
      <div class="wrapper m-aside hidden">
        <section class="row">
          <a class="btn" href="http://mahabbahfashion.tumblr.com/"><i class="fa fa-group"></i>
            Join Our <span>Community</span></a>
        </section>
      </div>
