*, *:after, *:before { @include box-sizing(border-box); }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
  overflow-x: hidden;
}

body {
  background: $bgcolor url(../images/naal-bg.jpg) center center no-repeat fixed;
  color: $text-color;
  font-weight: 300;
  font-size: 26px; //28px
  line-height: 1.25;
  font-family: $main-font;

  @include respond-xs {
    background-size: 150% auto;
  }
}

// basic grid system
.wrapper {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

a, button {
  outline: none;
}

a {
  color: $init-color;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: $init-color;
}

// sections
section.row {
  position: relative;
  padding: 2em 1em;
  // background: #fff;
  text-align: center;

  @include respond-xs {
    padding: 1.5em 0.5em;
    font-size: 0.8em;
  }
}

section p {
  // max-width: 700px;
  margin: 0 auto;
  padding: 1.2em 0;

  @include respond-xs {
    padding: 0.5em 0 1em;
  }
}

// some animation
.initiative .mahabbah-header {
  animation-name: bodyFade;
  -webkit-animation-name: bodyFade;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-out;
  -webkit-animation-timing-function: ease-out;

  transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  -webkit-transform-origin: 0% 0%;
}

@keyframes bodyFade {
  0% {
    opacity: 0;
    transform: translateY(-200px);
  }
  30% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes bodyFade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
  }
  30% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
