@import url(../fonts/ff-enzo-web-lite.css);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

// @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700,300italic);
// @import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic);
// @import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:500,700,800);
// @import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@font-face {
  font-family: 'AvantGardeBold';
  src: url('../fonts/huge_agb_v5-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/huge_agb_v5-webfont.woff') format('woff'),
       url('../fonts/huge_agb_v5-webfont.ttf') format('truetype'),
       url('../fonts/huge_agb_v5-webfont.svg#svgFontName') format('svg')
}

@font-face {
  font-family: 'texgyreadventorregular';
  src: url('../fonts/texgyreadventor-regular-webfont.eot');
  src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
       url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
       url('../fonts/texgyreadventor-regular-webfont.svg#texgyreadventorregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'texgyreadventoritalic';
//   src: url('../fonts/texgyreadventor-italic-webfont.eot');
//   src: url('../fonts/texgyreadventor-italic-webfont.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/texgyreadventor-italic-webfont.woff') format('woff'),
//        url('../fonts/texgyreadventor-italic-webfont.ttf') format('truetype'),
//        url('../fonts/texgyreadventor-italic-webfont.svg#texgyreadventoritalic') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-family: 'texgyreadventorbold';
  src: url('../fonts/texgyreadventor-bold-webfont.eot');
  src: url('../fonts/texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/texgyreadventor-bold-webfont.woff') format('woff'),
       url('../fonts/texgyreadventor-bold-webfont.ttf') format('truetype'),
       url('../fonts/texgyreadventor-bold-webfont.svg#texgyreadventorbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

// @font-face {
//   font-family: 'texgyreadventorbold_italic';
//   src: url('../fonts/texgyreadventor-bolditalic-webfont.eot');
//   src: url('../fonts/texgyreadventor-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
//        url('../fonts/texgyreadventor-bolditalic-webfont.woff') format('woff'),
//        url('../fonts/texgyreadventor-bolditalic-webfont.ttf') format('truetype'),
//        url('../fonts/texgyreadventor-bolditalic-webfont.svg#texgyreadventorbold_italic') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
