.mahabbah-footer {
  $color: $text-color;

  .footer {
    @include outer-container;
    padding: 3em 0 5em;

    .alpha, .beta, .gamma {
      .text {
        padding: 1.5em;
        // text-shadow: 1px 1px 1px rgba(#000, 0.1);
        a {
          color: #fff;
        }
      }
    }

    .alpha {
      @include span-columns(4);
      background: rgba($main-color, 0.9);
      font-size: 0.6em;
      color: #fff;
      margin-top: 2em;
      .text {
        padding: 1em 1.5em;
        p {
          margin: 1em 0;
        }
        p.phone {
          font-size: 0.9em;
        }
        span.phone {
          letter-spacing: -1px;
          word-spacing: 3px;
        }
        p.links {
          font-size: 0.9em;
        }
      }
    }
    .beta {
      @include span-columns(4);
      background: rgba(desaturate(darken($main-color, 10%), 2%), 0.9);
      color: #fff;
      .text {
        margin: 0;
        padding: 2em 1.5em;
        font-size: 1.1em;
        text-align: center;
        font-style: italic;
        line-height: 0.85em;
        .cite {
          display: block;
          color: saturate(lighten($main-color, 10%), 20%);
          // color: $init-color;
          font-weight: bold;
          font-size: 0.7em;
          margin-top: 1em;
          letter-spacing: 4px;
          font-style: normal;
        }
      }
    }
    .gamma {
      @include span-columns(4);
      background: rgba($init-color, 0.9) url(../images/arabdots-white.svg) 95% -10px no-repeat;
      background-size: 150px;
      font-size: 0.55em;
      color: #fff;
      margin-top: 2em;
      text-align: left;
      padding-top: 6em;
      @include media($mobile) {
        background-size: 100px;
        padding-top: 3em;
      }
    }

    @include media($mobile) {
      padding: 0;
      .alpha, .beta, .gamma {
        @include span-columns(4);
        margin: 0;
        font-size: 0.5em;
        text-align: center;
      }
      .gamma .logo {
        display: none;
      }
    }
    @include media($tablet) {
      padding: 0;
      .alpha, .beta, .gamma {
        @include span-columns(8);
        margin: 0;
        font-size: 0.5em;
        text-align: center;
      }
      .gamma .logo {
        display: none;
      }
    }
  }
}