.mahabbah-links {
  background: lighten($init-color, 20%);

  .row {
    padding: 1em 1em 2em;
  }

  h3 {
    color: #fff;
    font-weight: 500;
    font-size: 0.9em;
    letter-spacing: 4px;
		text-transform: uppercase;
		font-family: $texgyre-font;
		span {
			font-family: $texgyrebold-font;
		}
  }

  nav {
    .btn {
      font-size: 0.6em;
			font-family: $texgyre-font;

      padding: 0.4em 1em 0.5em;
      margin-right: -2px;
      border-width: 1px;
      border-radius: 8px;
      // font-weight: 700;
      text-transform: none;
      letter-spacing: 0;


      background: transparent;
			border-color: #fff;
			color: #fff;
    	opacity: 1;
      @include transition(opacity 0.2s);

      &:hover {
      	opacity: 0.8;
      }
    }

    // .btn-rm {
    //   $rm-color: #11572a;
    //   border-color: $rm-color;
    //   color: $rm-color;
    // }
    // .btn-mm {
    //   $mm-color: #208eca;
    //   border-color: $mm-color;
    //   color: $mm-color;
    // }
    // .btn-mf {
    //   $mf-color: #8b3aaf;
    //   border-color: $mf-color;
    //   color: $mf-color;
    // }
    // .btn-mfb {
    //   $mfb-color: #fc5630;
    //   border-color: $mfb-color;
    //   color: $mfb-color;
    // }
    // .btn-mtc {
    //   $mtc-color: #fa9e1e;
    //   border-color: $mtc-color;
    //   color: $mtc-color;
    // }
    // .btn-mtt {
    //   $mtt-color: #1b59b0;
    //   border-color: $mtt-color;
    //   color: $mtt-color;
    // }
    // .btn-mb {
    //   $mb-color: #bd383d;
    //   border-color: $mb-color;
    //   color: $mb-color;
    // }

    .btn-rm {
    }
    .btn-mm {
    }
    .btn-mf, .btn-mf:hover {
    	opacity: 0.4;
    	cursor: default;
    }
    .btn-mfb, .btn-mfb:hover {
    	opacity: 0.4;
    	cursor: default;
    }
    .btn-mtc, .btn-mtc:hover {
    	opacity: 0.4;
    	cursor: default;
    }
    .btn-mtt, .btn-mtt:hover {
    	opacity: 0.4;
    	cursor: default;
    }
    .btn-mb, .btn-mb:hover {
    	opacity: 0.4;
    	cursor: default;
    }
  }
}

.initiative-rm .btn-rm {
	display: none;
}
.initiative-mm .btn-mm {
	display: none;
}
.initiative-mf .btn-mf {
	display: none;
}
.initiative-mfb .btn-mfb {
	display: none;
}
.initiative-mtc .btn-mtc {
	display: none;
}
.initiative-mtt .btn-mtt {
	display: none;
}
.initiative-mb .btn-mb {
	display: none;
}