$text-color: #868375;
$green: #85b91e;
$orange: #ad3629;

$main-font: 'ff-enzo-web', Arial, sans-serif;
$avant-font: 'AvantGardeBold', $main-font;
$texgyre-font: 'texgyreadventorregular', $main-font;
$texgyrebold-font: 'texgyreadventorbold', $main-font;