// FONT FAMILIES
$main-font: 'ff-enzo-web', Arial, sans-serif;
$avant-font: 'AvantGardeBold', $main-font;
$texgyre-font: 'texgyreadventorregular', $main-font;
$texgyrebold-font: 'texgyreadventorbold', $main-font;


// INITIATIVE COLORS
// $rm-color: #11572a;
$rm-color: #289b66;
$mm-color: #208eca;
