@charset "utf-8";

@import
  'fonts',
	'compass/css3',
  'vars',
  'responsive';

$bgcolor: saturate(lighten($text-color, 35%), 20%);

*, *:after, *:before { @include box-sizing(border-box); }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
  overflow-x: hidden;
}

body {
  background: $bgcolor;
  background: $bgcolor url(../images/naal-bg.jpg) center center no-repeat fixed;
  color: $text-color;
  font-weight: 300;
  font-size: 26px; //28px
  line-height: 1.25;
  font-family: $main-font;

  @include respond-xs {
    background-size: 180% auto;
  }
}

// basic grid system
.wrapper {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

a, button {
  outline: none;
}

a {
  color: $green;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  color: darken($green, 10%);
}

@import 'topnav';

.mahabbah-header {
  background: #fff;
  margin: 0 auto;
  padding: 5em 0 4.2em;
  text-align: center;

  h1 {
    background: transparent url(../images/arabdots-green.svg) center top no-repeat;
    margin: 0;
    padding-top: 0.8em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $green;
    letter-spacing: -5px;

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: lighten($green, 10%);
    }

    span.sub {
      display: block;
      padding: 0;
      font-size: 0.65em;
      font-weight: 400;
      font-family: $texgyre-font;
      letter-spacing: 0;
      width: auto;
      color: saturate(lighten($text-color, 5%), 10%);

      > span {
        color: saturate(lighten($text-color, 20%), 20%);
      }
    }
  }

  @include respond-xs {
    padding: 2em 0;

    h1 {
      font-size: 2em;
      span.sub {
        font-size: 0.5em;
        letter-spacing: 1px;
        word-spacing: normal;
      }
    }
  }
}

// sections

section {
  position: relative;
  padding: 3em 1em;
  // background: #fff;
  text-align: center;

  @include respond-xs {
    padding: 2em 0.5em;
    font-size: 0.8em;
  }
}

section h2 {
  background: transparent url(../images/arabdots-brown.svg) center top no-repeat;
  background-size: auto 50%;
  padding-top: 0.6em;
  margin-top: 0;
  font-family: $avant-font;
  letter-spacing: -3px;
  line-height: 0.8em;
  display: inline-block;
  border-bottom: 2px solid rgba($text-color, 0.5);
}

section p {
  // max-width: 700px;
  margin: 0 auto;
  padding: 1.2em 0;

  @include respond-xs {
    padding: 0.5em 0 1em;
  }
}

section button {
  border: none;
  display: inline-block;
  background: $text-color;
  color: #fff;
  color: rgba(#000,0.4);
  font-weight: 400;
  font-family: $texgyre-font;
  padding: 15px 30px;
  margin: 5px;
  text-transform: uppercase;
  border-radius: 3px;
  letter-spacing: 3px;
  opacity: 1;
  @include transition(opacity 0.5s);

  span {
    font-family: $texgyrebold-font;
  }

  &:hover {
    opacity: .7;
  }

  @include respond-xs {
    padding: 5px 8px;
  }

  &.trigger-about {
    background: lighten($orange, 10%);
  }

  &.trigger-mvmt {
    background: $green;
  }

  &.facebook {
    background: #3b5999;
    color: rgba(#fff, 0.5);
  }
}

.mahabbah-welcome {
  z-index: 10;
  background: transparent;

  p strong.mm {
    background: transparent url(../images/arabdots-brown.svg) center top no-repeat;
    background-size: auto 38%;

    font-family: $avant-font;
    letter-spacing: -3px;
    padding: 0.6em 0.1em 0 0;

    span {
      color: lighten(saturate($text-color, 10%), 15%);
    }
  }

  p em {
    color: lighten(saturate($text-color, 10%), 15%);
    font-weight: 400;
    font-style: normal;
  }

  .error {
    color: lighten($orange, 10%);
  }
}

.mahabbah-quran {
  z-index: 10;
  background: rgba($text-color,0.7);

  blockquote {
    display: none;
    margin: 0;
    font-style: italic;
    background: transparent url(../images/bismillah-white.png) center top no-repeat;
    padding-top: 2.6em;
    font-size: 0.9em;
    color: saturate(lighten($text-color, 40%), 25%);

    p {
      padding: 0.6em 0;
    }

    .cite {
      // font-style: normal;
      // font-weight: 700;
      // padding-top: 1.2em;
      padding-bottom: 0;
      color: saturate(lighten($text-color, 30%), 15%);
      // letter-spacing: 1px;

      &:before {
        content: '\2014';
      }
    }

    @include respond-xs {
      background-size: 80% auto;
      font-size: 0.8em;
      padding: 3em 0 0;
      margin: 0;
    }
  }
}

.mahabbah-related {
  z-index: 10;
  // padding-top: 2em;
  background: #fff;

  h2 {
    background: none;
    margin-top: 0;
    font-family: $avant-font;
    color: $green;
    letter-spacing: -3px;
    line-height: 0.8em;
    border: none;

    span {
      display: inline-block;
      background: transparent url(../images/arabdots-green.svg) center top no-repeat;
      background-size: auto 45%;
      padding-top: 0.5em;
      color: lighten($green, 10%);
    }
  }

  nav {
    /* Effect: 3D rolling links, idea from http://hakim.se/thoughts/rolling-links */
    a {
      position: relative;
      display: inline-block;
      margin: 0.5em 0.3em;
      outline: none;
      color: #fff;
      text-decoration: none;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 400;
      font-size: 1em;

      line-height: 1.5em;
      @include perspective(1000px);

      &:hover,
      &:focus {
        outline: none;
      }
    }

    a img {
      display: block;
      margin: 0 auto 0.5em;
    }

    a span {
      color: $text-color;
      font-size: 0.8em;
      position: relative;
      display: block;
      padding: 0 14px;
      background: saturate(lighten($text-color, 40%), 25%);
      @include transition(transform 0.3s);
      @include transform-origin(50%, 0);
      @include transform-style(preserve-3d);
    }

    .csstransforms3d & a span::before {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      height: 100%;
      background: $text-color;
      color: #fff;
      font-size: 0.8em;
      letter-spacing: 3px;
      opacity: 1;
      content: attr(data-hover);
      @include transition(background 0.3s);
      @include transform(rotateX(-90deg));
      @include transform-origin(50%, 0);
    }

    a:hover span,
    a:focus span {
      @include transform(rotateX(92deg) translateY(-33px));
    }

    .csstransforms3d & a:hover span::before,
    .csstransforms3d & a:focus span::before {
      // background: saturate(lighten($text-color, 40%), 25%);
    }

    @include respond-xs {
      a {
        display: block;
        width: 100%;
        margin: 0.5em 0;
      }
      a span {
        width: 100%;
      }
    }
  }
}

.mahabbah-footer {
  padding: 2em 1em;
  text-align: center;
  font-size: 0.6em;
  color: #aca784;
  background: rgba(#fff,0.4);

  a {
    color: #aca784;
  }

  @include respond-xs {
    font-size: 0.5em;
  }
}

// .instagram-float {
//   position: fixed;
//   bottom: 0;
//   right: 10px;
//   // @inc

//   a {
//     @include box-shadow(0 0 5px rgba(#000,0.2));
//     display: block;
//     padding: 0.3em 0.6em;
//     border: 1px solid $text-color;
//     border-bottom: none;
//     border-radius: 3px 3px 0 0;
//     color: $text-color;
//     background: #fff;
//     font-size: 0.5em;
//     font-weight: 500;
//     opacity: 0.8;
//     @include transition(opacity 0.2s, background 0.2s);

//     &:hover {
//       background: $bgcolor;
//       opacity: 1;
//     }
//   }
// }

.md-modal .lailahaillallah {
  min-height: 126px;
  margin: 10px 0 0;
  background: transparent url(../images/lailahaillallah.png) center center no-repeat;

  @include respond-xs {
    background-size: 100%;
  }
}

@import
	'overlay-movement',
  'overlay-about',
  'modal';
