@charset "utf-8";

@import
  'fonts',
  'compass/css3',
  'vars',
  'responsive';

// initiative specific
$init-color: #208eca; // initiative color
$main-color: saturate(lighten($init-color, 35%), 30%);
$text-color: lighten($init-color, 20%);
$bgcolor: #fff;

*, *:after, *:before { @include box-sizing(border-box); }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }

html, body {
  overflow-x: hidden;
}

body {
  background: $bgcolor url(../images/mm/bg.jpg) center bottom no-repeat fixed;
  color: $text-color;
  font-weight: 300;
  font-size: 26px; //28px
  line-height: 1.25;
  font-family: $main-font;

  @include respond-xs {
    background-size: 150% auto;
  }
}

// basic grid system
.wrapper {
  width: 100%;
}

.row {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

a, button {
  outline: none;
}

a {
  color: $init-color;
  text-decoration: none;
  outline: none;
}

a:hover, a:focus {
  // color: $main-color;
}

// Button style

.btn {
  border: none;
  display: inline-block;
  background: #fff;
  font-weight: 400;
  font-family: $texgyre-font;
  padding: 0.6em 2em;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 2em;
  border: 3px solid $text-color;
  color: $text-color;
  @include transition(background 0.2s, color 0.2s, border-color 0.2s);

  &:hover {
    color: darken($text-color, 10%);
    border-color: darken($text-color, 10%);
  }

  @include respond-xs {
    font-size: 0.6em;
  }

  span {
    font-family: $texgyrebold-font;
  }

  &.btn-tumblr {
    background: rgba($init-color, 0.6);
    color: #fff;
    border: 3px solid #fff;
    &:hover {
      background: $init-color;
    }
  }
}

// sections

section {
  position: relative;
  padding: 2em 1em;
  // background: #fff;
  text-align: center;

  @include respond-xs {
    padding: 1.5em 0.5em;
    font-size: 0.8em;
  }
}

section h2 {
  background: transparent url(../images/mm/arabdots.svg) center top no-repeat;
  background-size: auto 50%;
  padding-top: 0.7em;
  margin-top: 0;
  font-family: $avant-font;
  letter-spacing: -3px;
  line-height: 0.8em;
  display: inline-block;
  // border-bottom: 2px solid rgba($text-color, 0.5);
}

section p {
  // max-width: 700px;
  margin: 0 auto;
  padding: 1.2em 0;

  @include respond-xs {
    padding: 0.5em 0 1em;
  }
}

@import 'topnav';

// Top Navigation Style
.mahabbah-top {
  background: $main-color;

  a {
    color: $init-color;

    &:hover {
      color: lighten($init-color, 5%);
    }
  }
}

.mahabbah-header {
  background: $init-color url(../images/mm/headerbg.jpg) center bottom no-repeat;
  margin: 0 auto;
  padding: 3em 0 2em;
  text-align: center;

  h1 {
    background: transparent url(../images/mm/arabdots.svg) center top no-repeat;
    margin: 0 0 0.5em;
    padding-top: 0.7em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $main-color;
    letter-spacing: -5px;
    text-shadow: 0 0 30px rgba($main-color, 0.3), 0 -5px 0 rgba(#000, 0.1);

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: #fff;
    }
  }

  p.sub {
    display: block;
    font-size: 1em;
    font-weight: 400;
    // font-family: $main-font;
    font-family: $texgyre-font;
    letter-spacing: -1px;
    line-height: 1em;
    width: auto;
    color: #fff;
    // padding: 0.3em 1em;
    margin: 0.5em 0.5em;
    // text-shadow: 0 0 30px rgba($main-color, 0.3), 0 -4px 0 rgba(#000, 0.1);

    > span {
      color: lighten($main-color, 5%);
    }
  }

  nav {
    padding-top: 1em;
  }

  @include respond-xs {
    padding: 2em 0;
    h1 {
      font-size: 2em;
    }
  }
}

.mahabbah-hero {
  height: 450px;
  background: #fff url(../images/mm/hero.jpg) left bottom no-repeat;
  background-size: auto 100%;
  @include box-shadow(0 -4px 0 rgba(#000, 0.1));
  position: relative;

  @include respond-xs {
    height: 400px;
    background-size: auto 100%;
    background-position: -150px bottom;
  }

  .word {
    position: absolute;
    bottom: 00px;
    right: 0;
    color: #fff;
    margin-left: 40%;

    p {
      // display: inline-block;
      background: rgba($text-color, 0.9);
      padding: 0.5em 0.7em;
      margin: 0;
      // margin: 0 0 0.5em;
    }

    em {
      color: saturate(lighten($text-color, 20%), 50%);
    }

    @include respond-sm {
      font-size: 0.9em;
    }

    @include respond-xs {
      margin-left: 10%;
      font-size: 0.7em;
    }

    .logo {
      background: #fff url(../images/mm/logo.png) center center no-repeat;
      background-size: 100% auto;
      width: 130px;
      height: 150px;
      // border-radius: 10px 10px 0 0;
      // margin-left: 20%;

      @include respond-xs {
        width: 100px;
        height: 110px;
        float: right;
      }
    }
  }
}

.mahabbah-aside {
  z-index: 10;
  background: transparent;

  p em {
    color: lighten(saturate($text-color, 10%), 15%);
    font-weight: 400;
    font-style: normal;
  }
}

@import 'footer', 'init_links';
