//
// RAUDHATUL MUHIBBAIN
//

@charset "utf-8";

@import
  'bourbon/bourbon',
  'neat-settings',
  'neat/neat',
  'fonts',
  'vars';

// initiative specific
$init-color: $mf-color; // initiative color
$main-color: saturate(lighten($init-color, 30%), 20%);
$text-color: $main-color;
$bgcolor: saturate(lighten($init-color, 20%), 10%);

@import
  'base',
  'topnav',
  'button',
  'footer',
  'links';

body {
  background: #fff url(../images/mf/hero.jpg) center top no-repeat fixed;
  background-size: cover;
}

// Top Navigation Style
.mahabbah-top {
  a {
    color: #fff;

    &:hover {
      color: saturate(lighten($main-color, 10%), 20%);
    }
  }
}

.mahabbah-header {
  background: $init-color url(../images/mf/headerbg.jpg) center bottom no-repeat;
  background: transparent url(../images/mf/bgpattern.png) repeat;
  background: transparent;
  // background: rgba($init-color, 0.8);
  margin: 0 auto;
  padding: 3em 0 2em;
  text-align: center;

  h1 {
    background: transparent url(../images/mf/arabdots.svg) center top no-repeat;
    margin: 0;
    padding-top: 0.6em;
    margin-top: 0.2em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $main-color;
    color: #fff;
    letter-spacing: -5px;
    text-shadow: 1px 1px 10px rgba(#000, 0.15);

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: saturate(lighten($main-color, 20%), 60%);
    }

    span.sub {
      display: block;
      padding: 0;
      font-size: 0.45em;
      font-weight: 400;
      font-family: $texgyre-font;
      letter-spacing: 0;
      line-height: 1em;
      width: auto;
      color: #fff;
      padding: 0 1em;
      text-shadow: 1px 1px 4px rgba(#000, 0.3);

      > span {
        color: saturate(lighten($main-color, 20%), 60%);
      }
    }
  }

  nav {
    padding-top: 1em;
  }

  @include media($mobile) {
    padding: 2em 0;
    h1 {
      font-size: 2em;
      span.sub {
        font-size: 0.4em;
        letter-spacing: 1px;
        word-spacing: normal;
      }
    }
  }
}

.mahabbah-hero {
  color: #fff;
  text-align: center;
  font-size: 1em;
  padding-top: 1em;
  padding-bottom: 1em;

  .hero {
    @include outer-container;

    h4 {
      margin: 0 0 0.3em;
      font-family: $hnul-font;
      font-weight: 100;
      font-size: 1.2em;

      span {
        display: inline-block;
        line-height: 1em;
      }
      span.a {
        background: #fff;
        color: $init-color;
        border-radius: 5px 0 0 5px;
        border: 2px solid $init-color;
        padding: 5px 10px;
      }
      span.b {
        background: $init-color;
        color: #fff;
        border-radius: 0 5px 5px 0;
        padding: 7px 12px;
      }
    }

    .word {
      padding: 3em 2em;
    }
    .logo {
      background: #fff;
    }
    .logo.desktop {
      display: block;
    }
    .logo.mobile {
      display: none;
    }

    .alpha {
      background: rgba($main-color, 0.9);
      em {
        margin-top: 0.3em;
        display: block;
        color: $init-color;
        font-size: 1.4em;
        line-height: 0.9em;
      }
    }
    .beta .word {
      background: rgba(saturate(lighten($main-color, 20%), 60%), 0.9);
      color: $init-color;
      em {
        margin-top: 0.3em;
        display: block;
        // color: saturate(lighten($init-color, 20%), 10%);
        font-size: 1.4em;
        line-height: 0.9em;
      }
    }
    .gamma {
      background: rgba($main-color, 0.9);
      em {
        margin-top: 0.3em;
        display: block;
        color: $init-color;
        font-size: 1.4em;
        line-height: 0.9em;
      }
    }

    .alpha, .beta, .gamma {
      @include span-columns(4);
      font-size: 0.9em;
    }
    .alpha {
      margin-top: 2.5em;
    }
    .gamma {
      margin-top: 5em;
    }

    @include media($mobile) {
      .logo.desktop {
        display: none;
      }
      .logo.mobile {
        display: block;
      }
      .alpha, .beta, .gamma {
        @include span-columns(4);
        font-size: 0.7em;
      }
      .alpha, .gamma {
        margin: 0;
      }
    }

    @include media($tablet) {
      .logo.desktop {
        display: none;
      }
      .logo.mobile {
        display: block;
      }
      .alpha, .beta, .gamma {
        @include span-columns(8);
      }
      .alpha, .gamma {
        margin: 0;
      }
    }
  }
}

.mahabbah-aside {
  z-index: 10;
  // background: rgba(#fff, 0.8);

  p em {
    color: lighten(saturate($text-color, 10%), 15%);
    font-weight: 400;
    font-style: normal;
  }
}

.mahabbah-links {
  // background: rgba($bgcolor, 0.8);
  // background: transparent url(../images/mf/bgpattern.png) repeat;
}

.mahabbah-footer {
  // background: #fff;
}
