//
// MABKHOOR MUSIC
//

@charset "utf-8";

@import
  'fonts',
  'compass/css3',
  'vars',
  'responsive';

// initiative specific
$init-color: $mm-color; // initiative color
$main-color: saturate(lighten($init-color, 30%), 60%);
$text-color: lighten($init-color, 20%);
$bgcolor: saturate(lighten($init-color, 20%), 10%);

@import 'base';

body {
  background-image: url(../images/mm/bg.jpg);
  background: #fff url(../images/mm/hero.jpg) center center no-repeat;
  background-size: cover;

  @include respond-xs {
    background-position: -300px center;
  }
}

// Button style
.btn {
  border: none;
  display: inline-block;
  background: #fff;
  font-weight: 400;
  font-family: $texgyre-font;
  padding: 0.6em 2em;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 2em;
  border: 3px solid $text-color;
  color: $text-color;
  @include transition(background 0.2s, color 0.2s, border-color 0.2s);

  &:hover {
    color: darken($text-color, 10%);
    border-color: darken($text-color, 10%);
  }

  @include respond-xs {
    font-size: 0.6em;
  }

  span {
    font-family: $texgyrebold-font;
  }

  &.btn-tumblr {
    background: rgba($init-color, 0.8);
    color: #fff;
    border: 3px solid #fff;
    &:hover {
      background: $init-color;
    }
  }
}

@import 'topnav';

// Top Navigation Style
.mahabbah-top {
  a {
    color: #fff;

    &:hover {
      color: $main-color;
    }
  }
}

.mahabbah-header {
  // background: $init-color url(../images/mm/headerbg.jpg) center bottom no-repeat;
  margin: 0 auto;
  padding: 3em 0 2em;
  text-align: center;

  h1 {
    background: transparent url(../images/mm/arabdots.svg) center top no-repeat;
    margin: 0;
    padding-top: 0.6em;
    margin-top: 0.2em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $main-color;
    letter-spacing: -5px;
    text-shadow: 1px 1px 10px rgba(#000, 0.15);
    -webkit-text-stroke: 0.8px rgba(#000, 0.001);

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: #fff;
    }
  }

  p.sub {
    display: block;
    font-size: 1em;
    font-weight: 400;
    // font-family: $main-font;
    font-family: $texgyre-font;
    letter-spacing: -1px;
    line-height: 1em;
    width: auto;
    color: #fff;
    // padding: 0.3em 1em;
    margin: 0.5em 0.5em;
    text-shadow: 1px 1px 4px rgba(#000, 0.3);

    > span {
      color: lighten($main-color, 5%);
    }
  }

  nav {
    padding-top: 1em;
  }

  @include respond-xs {
    padding: 2em 0;
    h1 {
      font-size: 2em;
    }
  }
}

.mahabbah-hero {
  background: rgba($bgcolor, 0.6);
  .row {
    padding: 0;
    color: #fff;
    font-size: 1.1em;
    text-align: left;

    .logo {
      width: 200px;
      float: right;
      background: rgba(#fff, 0.9);
      text-align: center;
      margin: 0 1em 1em;
      border-radius: 0 0 0.4em 0.4em;

      @include respond-xs {
        width: 100px;
        img.logoimg {
          width: 100%;
        }
      }
    }

    .word {
      margin: 0.5em 0;
    }

    p {
      padding: 0.5em 0.7em;
      margin: 0;
      text-shadow: 1px 1px 2px rgba(#000, 0.2);

      em {
        color: saturate(lighten($main-color, 10%), 50%);
        font-weight: 600;
        font-style: normal;
      }
    }

    @include respond-sm {
      font-size: 0.9em;
    }

    @include respond-xs {
      font-size: 0.72em;
      // text-align: center;
    }
  }
}

.mahabbah-aside {
  z-index: 10;
  background: transparent;

  p em {
    color: lighten(saturate($text-color, 10%), 15%);
    font-weight: 400;
    font-style: normal;
  }
}

// @import 'footer', 'links', 'animations';
@import 'footer', 'links';

.mahabbah-links {
  background: rgba($bgcolor, 0.75);
}

.mahabbah-footer {
  background: #fff;
}
