//
// RAUDHATUL MUHIBBAIN
//

@charset "utf-8";

@import
  'fonts',
  'compass/css3',
  'vars',
  'responsive';

// initiative specific
// $init-color: #11572a; // initiative color
$init-color: $rm-color; // initiative color
$main-color: desaturate(lighten($init-color, 20%), 5%);
$text-color: $main-color;
$bgcolor: #fff;

@import 'base';

body {
  background-image: url(../images/rm/bg.jpg);
  background: #fff url(../images/rm/hero.jpg) center center no-repeat;
  background-size: cover;
}

// Button style
.btn {
  border: none;
  display: inline-block;
  background: #fff;
  font-weight: 400;
  font-family: $texgyre-font;
  padding: 0.6em 2em;
  margin: 5px;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-radius: 2em;
  border: 3px solid $text-color;
  color: $text-color;
  @include transition(background 0.2s, color 0.2s, border-color 0.2s);

  &:hover {
    color: darken($text-color, 10%);
    border-color: darken($text-color, 10%);
  }

  @include respond-xs {
    font-size: 0.6em;
  }

  span {
    font-family: $texgyrebold-font;
  }

  &.btn-tumblr {
    background: rgba($init-color, 0.8);
    color: #fff;
    border: 3px solid #fff;
    &:hover {
      background: $init-color;
    }
  }
}

@import 'topnav';

// Top Navigation Style
.mahabbah-top {
  a {
    color: #fff;

    &:hover {
      color: saturate(lighten($main-color, 25%), 50%);
    }
  }
}

.mahabbah-header {
  background: $init-color url(../images/rm/headerbg.jpg) center bottom no-repeat;
  background: transparent;
  margin: 0 auto;
  padding: 3em 0 2em;
  text-align: center;

  h1 {
    background: transparent url(../images/rm/arabdots.svg) center top no-repeat;
    margin: 0;
    padding-top: 0.8em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $main-color;
    letter-spacing: -5px;
    text-shadow: 0 0 20px rgba(#000, 0.4);
    -webkit-text-stroke: 0.8px rgba(#000, 0.001);

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: saturate(lighten($main-color, 25%), 50%);
    }

    span.sub {
      display: block;
      padding: 0;
      font-size: 0.45em;
      font-weight: 400;
      font-family: $texgyre-font;
      letter-spacing: 0;
      line-height: 1em;
      width: auto;
      color: saturate(lighten($main-color, 40%), 40%);
      padding: 0 1em;
      text-shadow: 0 0 5px rgba(#000, 0.4);

      > span {
        color: saturate(lighten($main-color, 20%), 20%);
      }
    }
  }

  nav {
    padding-top: 1em;
  }

  @include respond-xs {
    padding: 2em 0;
    h1 {
      font-size: 2em;
      span.sub {
        font-size: 0.4em;
        letter-spacing: 1px;
        word-spacing: normal;
      }
    }
  }
}

.mahabbah-hero {
  // height: 450px;
  // background: #fff url(../images/rm/hero.jpg) center top no-repeat;
  // background-size: cover;
  // @include box-shadow(0 -4px 0 rgba(#000, 0.1));
  // position: relative;

  // @include respond-xs {
  //   // background-size: auto 150%;
  //   height: 400px;
  // }

  .word {
    // position: absolute;
    // bottom: 0;
    // right: 0;
    color: #fff;
    // margin-left: 20%;
    font-size: 1.1em;

    p {
      // display: inline-block;
      $bgcolor: saturate(lighten($init-color, 20%), 10%);
      background: rgba($bgcolor, 0.9);
      padding: 0.5em 0.7em;
      margin: 0;
      // margin: 0 0 0.5em;
    }

    em {
      color: saturate(lighten($main-color, 25%), 50%);
    }

    @include respond-sm {
      font-size: 0.9em;
    }

    @include respond-xs {
      margin-left: 0;
      font-size: 0.72em;
      text-align: center;
    }

    .logo {
      background: #fff url(../images/rm/logo.png) center center no-repeat;
      background-size: 100% auto;
      width: 130px;
      height: 150px;
      // border-radius: 10px 10px 0 0;
      // margin-left: 20%;

      @include respond-xs {
        width: 100px;
        height: 110px;
        float: right;
      }
    }
  }
}

.mahabbah-aside {
  z-index: 10;
  background: transparent;

  p em {
    color: lighten(saturate($text-color, 10%), 15%);
    font-weight: 400;
    font-style: normal;
  }
}

@import 'footer', 'links', 'animations';

.mahabbah-links {
  $bgcolor: saturate(lighten($init-color, 20%), 10%);
  background: rgba($bgcolor, 0.9);
  // background: transparent url(../images/mf/bgpattern.png) repeat;
}

.mahabbah-footer {
  background: #fff;
}
