      <div class="wrapper">
        <footer class="mahabbah-footer">
          <p>
            &copy; MMXIV Crafted by Mahabbah Technologies
            <a href="http://twitter.com/wansaleh" class="twitter"><i class="fa fa-twitter"></i></a>
          </p>
        </footer>
      </div>
