      <!-- Footer -->
      <div class="wrapper m-footer">
        <footer class="footer">
          <div class="alpha">
            <div class="text">
              <p>
                <b>We'd love to hear from you.</b><br>
                Call us. Write us. Join us. InsyaAllah.
              </p>
              <p class="phone">
                <b>Erwan</b>&nbsp;<span class="phone">+6012&nbsp;9162597</span> |
                <b>Adib</b>&nbsp;<span class="phone">+6018&nbsp;7886697</span>
                <!-- <b>Zafri</b>&nbsp;<span class="phone">+6011&nbsp;37663796</span><br> -->
              </p>
              <p class="links">
                <a href="mailto:madrasahmahabbah@gmail.com"><i class="fa fa-fw fa-envelope"></i> madrasahmahabbah@gmail.com</a>
                &nbsp;&nbsp;<a href="https://www.facebook.com/pages/Madrasah-Mahabbah/116562355135100"><i class="fa fa-facebook"></i></a>
                &nbsp;&nbsp;<a href="https://twitter.com/MaMahabbah"><i class="fa fa-twitter"></i></a>
                &nbsp;&nbsp;<a href="http://instagram.com/madrasahmahabbah"><i class="fa fa-instagram"></i></a>
                &nbsp;&nbsp;<a href="http://www.youtube.com/user/TheMuhibbains"><i class="fa fa-youtube-play"></i></a>
              </p>
            </div>
          </div>
          <div class="beta">
<%
data.quotes.hadiths.each do |line|
  line = line.split('|')
  hadith = line[0]
  cite = line[1]
%>
            <blockquote class="text m-hadith">
              <%= hadith %>
              <span class="cite"><%= cite %></span>
            </blockquote>
<%
end
%>
          </div>
          <div class="gamma">
            <div class="text">
              <b>Copyright &copy; 2014</b><br>
              Crafted by Mahabbah Technologies. All rights reserved.
              <a href="http://twitter.com/wansaleh" class="twitter"><i class="fa fa-twitter"></i></a>
            </div>
          </div>
        </footer>
      </div>
