      <!-- Footer -->
      <div class="wrapper mahabbah-footer">
        <footer class="row clearfix">
          <div class="col">
            We'd love to hear from you.<br>
            <span class="contact phone">
              <i class="fa fa-phone"></i> +6012 916 2597 | +6013 267 2264 | +6018 788 6697</span>
            <span class="contact email">
              <a href="mailto:madrasahmahabbah@gmail.com"><i class="fa fa-envelope"></i> madrasahmahabbah@gmail.com</a></span>
          </div>

          <div class="col">
            &copy; MMXIV | Crafted by Mahabbah Technologies
            <a href="http://twitter.com/wansaleh" class="twitter"><i class="fa fa-twitter"></i></a>
          </div>
        </footer>
      </div>
