      <!-- Links -->
      <div class="wrapper mahabbah-links">
        <section class="row">
          <h3>Other <span>initiatives</span></h3>
          <nav>
            <a class="btn btn-rm" href="/beta/raudhatul-muhibbain">Raudhatul Muhibbain</a>
            <a class="btn btn-mm" href="/beta/mabkhoor-music">Mabkhoor Music</a>
            <a class="btn btn-mf" href="/beta/mahabbah-fashion">Mahabbah Fashion</a>
            <span class="btn btn-mfb" href="#">Mahabbah Food &amp; Beverages</span>
            <span class="btn btn-mtc" href="#">Mahabbah Training &amp; Consultancy</span>
            <span class="btn btn-mtt" href="#">Mahabbah Travel &amp; Tours</span>
            <span class="btn btn-mb" href="#">Mahabbah Books</span>
          </nav>
        </section>
      </div>
