      <!-- Links -->
      <div class="wrapper mahabbah-links">
        <section class="row">
          <h3>Other <span>initiatives</span></h3>
          <nav>
            <a class="btn btn-rm" href="/beta/raudhatulmuhibbain">Raudhatul Muhibbain</a>
            <a class="btn btn-mm" href="/beta/mabkhoormusic">Mabkhoor Music</a>
            <a class="btn btn-mf" href="#">Mahabbah Fashion</a>
            <a class="btn btn-mfb" href="#">Mahabbah Food &amp; Beverages</a>
            <a class="btn btn-mtc" href="#">Mahabbah Training &amp; Consultancy</a>
            <a class="btn btn-mtt" href="#">Mahabbah Travel &amp; Tours</a>
            <a class="btn btn-mb" href="#">Mahabbah Books</a>
          </nav>
        </section>
      </div>
