    <!-- Overlays -->

    <!-- Initiative links -->
    <div class="overlay-init">
      <div class="overlay-init-bg"></div>
      <button type="button" class="overlay-init-close">Close</button>
      <nav>
        <ul>
<%
data.site.init_codes.each do |code|
  link = data.site.init_links[code]
  title = data.site.init_titles[code].split(' ', 2)
%>
          <li><a class="i-<%= code %>" href="<%= link %>"><span><%= title[0] %></span> <%= title[1] %></a></li>
<% end %>
        </ul>
      </nav>
    </div>

    <!-- About us -->
    <div class="overlay-about overlay-about-contentpush">
      <button type="button" class="overlay-about-close">Close</button>

      <div class="m-about clearfix">
        <div class="cols">
          <div class="col">
            <a href="#" class="md-trigger" data-modal="modal-learn">
              <h3>Learn.</h3>
              <p>
                We met at a <em>Madrasah</em> of knowledge.
              </p>
            </a>
          </div>
          <div class="col">
            <a href="#" class="md-trigger" data-modal="modal-love">
              <h3>Love.</h3>
              <p>
                We experienced something really special. We experienced <em>Mahabbah</em>.
              </p>
            </a>
          </div>
          <div class="col">
            <a href="#" class="md-trigger" data-modal="modal-live">
              <div>
                <h3>Live.</h3>
                <p>
                  And now we aspire to be <em>The Muhibbains</em>.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals -->
    <div class="md-modal" id="modal-learn">
      <div class="md-content">
        <h3>
          <a class="md-close"><i class="fa fa-times-circle"></i></a>
          Learn.
        </h3>
        <div>
          <p>We met at a <em>Madrasah of knowledge</em>.</p>
          <p>A garden from the gardens of paradise that our Prophet Muhammad (SAW) <em>reminded us to frequent</em>.</p>
        </div>
      </div>
    </div>

    <div class="md-modal" id="modal-love">
      <div class="md-content">
        <h3>
          <a class="md-close"><i class="fa fa-times-circle"></i></a>
          Love.
        </h3>
        <div>
          <p>We experienced something really special.</p>
          <p>We experienced <em>Mahabbah</em> &mdash; That can be perfectly summed up in the <em>greatest testimony of love</em>.</p>
          <p><span>La ilaha illallah Muhammadur Rasulullah!</span></p>
          <div class="lailahaillallah"></div>
        </div>
      </div>
    </div>

    <div class="md-modal" id="modal-live">
      <div class="md-content">
        <h3>
          <a class="md-close"><i class="fa fa-times-circle"></i></a>
          Live.
        </h3>
        <div>
          <p>And now we aspire to become <em>The Muhibbains</em>, an aspiration that requires continually <em>learning to love, loving to live and living to learn and love</em> by the best example of Al Mustafa (SAW).</p>
          <p>Until we return to <em>Dar Al Akhirah</em>, to and with the rahmat of Allah SWT and the syafaat of His Beloved, Saiyidina Rasulullah (SAW), InsyaAllah.</p>
        </div>
      </div>
    </div>

    <!-- the overlay element for modals -->
    <div class="md-overlay"></div>