    <!-- Overlays -->

    <div class="overlay-mvmt overlay-mvmt-hugeinc">
      <div class="overlay-mvmt-bg"></div>
      <button type="button" class="overlay-mvmt-close">Close</button>
      <nav>
        <ul>
          <li><a href="/raudhatulmuhibbain"><span>Raudhatul</span> Muhibbain</a></li>
          <li><a target="_blank" href="http://mabkhoormusic.tumblr.com/"><span>Mabkhoor</span> Music</a></li>
          <li><a target="_blank" href="http://mahabbahfashion.tumblr.com/"><span>Mahabbah</span> Fashion</a></li>
          <li><a target="_blank" href="http://mahabbahfoodandbeverages.tumblr.com/"><span>Mahabbah</span> Food &amp; Beverages</a></li>
          <li><a target="_blank" href="http://mahabbahtrainingconsultancy.tumblr.com/"><span>Mahabbah</span> Training &amp; Consultancy</a></li>
          <li><a target="_blank" href="http://mahabbahtravelandtours.tumblr.com/"><span>Mahabbah</span> Travel &amp; Tours</a></li>
          <li><a target="_blank" href="http://mahabbahbooks.tumblr.com/"><span>Mahabbah</span> Books</a></li>
        </ul>
      </nav>
    </div>

    <div class="overlay-about overlay-about-contentpush">
      <button type="button" class="overlay-about-close">Close</button>

      <div class="mahabbah-about clearfix">
        <div class="cols">
          <div class="col">
            <a href="#" class="md-trigger" data-modal="modal-learn">
              <h3>Learn.</h3>
              <p>
                We met at a <em>Madrasah</em> of knowledge.
              </p>
            </a>
          </div>
          <div class="col">
            <a href="#" class="md-trigger" data-modal="modal-love">
              <h3>Love.</h3>
              <p>
                We experienced something really special. We experienced <em>Mahabbah</em>.
              </p>
            </a>
          </div>
          <div class="col">
            <a href="#" class="md-trigger" data-modal="modal-live">
              <div>
                <h3>Live.</h3>
                <p>
                  And now we aspire to be <em>The Muhibbains</em>.
                </p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Modals -->
    <div class="md-modal" id="modal-learn">
      <div class="md-content">
        <h3>
          <a class="md-close"><i class="fa fa-times-circle"></i></a>
          Learn.
        </h3>
        <div>
          <p>We met at a <em>Madrasah of knowledge</em>.</p>
          <p>A garden from the gardens of paradise that our Prophet Muhammad (SAW) <em>reminded us to frequent</em>.</p>
        </div>
      </div>
    </div>

    <div class="md-modal" id="modal-love">
      <div class="md-content">
        <h3>
          <a class="md-close"><i class="fa fa-times-circle"></i></a>
          Love.
        </h3>
        <div>
          <p>We experienced something really special.</p>
          <p>We experienced <em>Mahabbah</em> &mdash; That can be perfectly summed up in the <em>greatest testimony of love</em>.</p>
          <p><span>La ilaha illallah Muhammadur Rasulullah!</span></p>
          <div class="lailahaillallah"></div>
        </div>
      </div>
    </div>

    <div class="md-modal" id="modal-live">
      <div class="md-content">
        <h3>
          <a class="md-close"><i class="fa fa-times-circle"></i></a>
          Live.
        </h3>
        <div>
          <p>And now we aspire to become <em>The Muhibbains</em>, an aspiration that requires continually <em>learning to love, loving to live and living to learn and love</em> by the best example of Al Mustafa (SAW).</p>
          <p>Until we return to <em>Dar Al Akhirah</em>, to and with the rahmat of Allah SWT and the syafaat of His Beloved, Saiyidina Rasulullah (SAW), InsyaAllah.</p>
        </div>
      </div>
    </div>

    <!-- the overlay element for modals -->
    <div class="md-overlay"></div>
