          <blockquote class="random">
            <p>Say, O Muhammad, &ldquo;If you should love Allah, then follow me, [so] Allah will love you and forgive your sins. And Allah is Most Forgiving and Most Merciful.&rdquo;</p>

            <p class="cite">Surah Ali Imran, Verse 31</p>
          </blockquote>
          <blockquote class="random">
            <p>O Prophet (Muhammad), We have indeed granted you a clear victory so that Allah may pardon you your former and latter faults and may perfect His blessing upon you and show you the right way and bestow on you a mighty help.</p>

            <p class="cite">Surah Al Fath, Verses 1 to 3</p>
          </blockquote>
          <blockquote class="random">
            <p>Verily, a Messenger has come unto you from among yourselves; grievous to him is that you should fall into trouble; he is ardently desirous of your welfare; and to the believers he is compassionate, merciful.</p>

            <p class="cite">Surah At Taubah, Verse 128</p>
          </blockquote>
          <blockquote class="random">
            <p>But if they turn away, say (O Muhammad S.A.W): "Allah is sufficient for me. La ilaha illa Huwa (none has the right to be worshipped but He) in Him I put my trust and He is the Lord of the Mighty Throne."</p>

            <p class="cite">Surah At Taubah, Verse 129</p>
          </blockquote>
          <blockquote class="random">
            <p>Allah sends His Salat (Graces, Honours, Blessings, Mercy) on the Prophet (Muhammad S.A.W), and also His angels (ask Allah to bless and forgive him). O you who believe! Send your Salat on (ask Allah to bless) him (Muhammad S.A.W), and (you should) greet (salute) him with the Islamic way of greeting (salutation i.e. As-Salamu 'Alaikum)</p>

            <p class="cite">Surah Al Ahzab, Verse 56</p>
          </blockquote>
