      <!-- Top Nav -->
      <div class="mahabbah-top clearfix">
        <a class="toplink toplink-home" href="/">
          <i class="fa fa-home"></i>
          <span>Back to Madrasah Mahabbah</span></a>

        <span class="right">
          <a class="toplink" href="http://www.mahabbah.biz/">
            <i class="fa fa-shopping-cart"></i>
            <span>Shop</span></a>

          <a class="toplink" href="https://www.facebook.com/pages/Madrasah-Mahabbah/116562355135100">
            <i class="fa fa-facebook"></i>
            <span>Facebook</span></a>

          <a class="toplink" href="https://twitter.com/MaMahabbah">
            <i class="fa fa-twitter"></i>
            <span>Twitter</span></a>

          <a class="toplink" href="http://instagram.com/madrasahmahabbah">
            <i class="fa fa-instagram"></i>
            <span>Instagram</span></a>

          <a class="toplink" href="http://www.youtube.com/user/TheMuhibbains">
            <i class="fa fa-youtube-play"></i>
            <span>YouTube</span></a>
          </span>
      </div>
