//
// RAUDHATUL MUHIBBAIN
//

@charset "utf-8";

@import
  'bourbon/bourbon',
  'neat-settings',
  'neat/neat',
  'fonts',
  'vars';

// initiative specific
$init-color: $rm-color; // initiative color
$main-color: desaturate(lighten($init-color, 20%), 5%);
$text-color: $main-color;
$bgcolor: $init-color;

@import
  'base',
  'topnav',
  'button',
  'footer',
  'links';

body {
  background: #fff url(../images/rm/hero.jpg) center top no-repeat fixed;
  background-size: cover;
}

// Top Navigation Style
.mahabbah-top {
  a {
    color: #fff;

    &:hover {
      color: saturate(lighten($main-color, 25%), 50%);
    }
  }
}

.mahabbah-header {
  background: $init-color url(../images/rm/headerbg.jpg) center bottom no-repeat;
  background: transparent;
  margin: 0 auto;
  padding: 3em 0 2em;
  text-align: center;

  h1 {
    background: transparent url(../images/rm/arabdots.svg) center top no-repeat;
    margin: 0;
    padding-top: 0.8em;
    font-weight: 800;
    font-size: 2.5em;
    font-family: $avant-font;
    line-height: 0.8em;
    color: $main-color;
    letter-spacing: -5px;
    text-shadow: 1px 1px 20px rgba(#000, 0.4);

    a {
      display: block;
      @include transition(color 0.2s);
    }

    span {
      display: inline-block;
      color: saturate(lighten($main-color, 25%), 50%);
    }

    span.sub {
      display: block;
      padding: 0;
      font-size: 0.45em;
      font-weight: 400;
      font-family: $texgyre-font;
      letter-spacing: 0;
      line-height: 1em;
      width: auto;
      color: saturate(lighten($main-color, 40%), 40%);
      padding: 0 1em;
      text-shadow: 1px 1px 4px rgba(#000, 0.3);

      > span {
        color: saturate(lighten($main-color, 20%), 20%);
      }
    }
  }

  nav {
    padding-top: 1em;
  }

  @include media($mobile) {
    padding: 2em 0;
    h1 {
      font-size: 2em;
      span.sub {
        font-size: 0.4em;
        letter-spacing: 1px;
        word-spacing: normal;
      }
    }
  }
}

.mahabbah-hero {
  background: rgba($bgcolor, 0.8);

  .row {
    padding: 0;
    color: #fff;
    text-align: left;

    .logo {
      width: 200px;
      float: right;
      background: rgba(#fff, 0.9);
      text-align: center;
      margin: 0 1em 1em;
      border-radius: 0 0 0.4em 0.4em;

      @include media($mobile) {
        width: 100px;
        img.logoimg {
          width: 100%;
        }
      }
    }

    .word {
      margin: 0.5em 0;
    }

    p {
      padding: 0.5em 0.7em;
      margin: 0;
      // text-shadow: 1px 1px 2px rgba(#000, 0.2);

      em {
        color: saturate(lighten($main-color, 25%), 50%);
        font-weight: 600;
        font-style: normal;
      }
    }

    @include media($tablet) {
      font-size: 0.9em;
    }

    @include media($mobile) {
      font-size: 0.7em;
    }
  }
}

.mahabbah-aside {
  z-index: 10;
  background: transparent;

  p em {
    color: lighten(saturate($text-color, 10%), 15%);
    font-weight: 400;
    font-style: normal;
  }
}

.mahabbah-links {
  // background: rgba($bgcolor, 0.8);
}

.mahabbah-footer {
  // background: #fff;
}
