---
layout: initiatives
title: Raudhatul Muhibbain
initiative: rm
---

    <div class="container">

<%= partial 'topnav' %>

      <!-- Header -->
      <div class="wrapper mahabbah-header">
        <header class="row">
          <h1>
            Raudhatul<span>Muhibbain</span>
            <span class="sub">A garden from <span>the gardens of paradise, InsyaAllah</span></span>
          </h1>

          <nav>
            <a class="btn btn-tumblr" href="http://raudhatulmuhibbain.tumblr.com/"><i class="fa fa-group"></i>
              Join Our <span>Community</span></a>
          </nav>
        </header>
      </div>

      <!-- Hero -->
      <div class="wrapper mahabbah-hero">
        <div class="word">
          <div class="logo"></div>
          <div class="clearfix"></div>
          <p>
            As the human heart is only truly alive <em>only with the remembrance of Allah SWT and His Beloved SAW</em>, so too is the case for <em>Madrasah Mahabbah</em>.
          <br>
            <em>Raudhatul Muhibbain</em> is where we come together to remind ourselves and all present of true love... <em>the love of Ar Rahman (SWT) and His Beloved (SAW).</em>
          </p>
          <p>
            It is the heart of Madrasah Mahabbah, InsyaAllah.
          </p>
        </div>
      </div>

      <!-- Aside -->
      <div class="wrapper mahabbah-aside">
        <section class="row">
          <a class="btn" href="http://raudhatulmuhibbain.tumblr.com/"><i class="fa fa-group"></i>
            Join Our <span>Community</span></a>
        </section>
      </div>

<%= partial 'links' %>

<%= partial 'footer' %>

    </div><!-- /container -->
