---
title: File not found!
---

      <div class="container">

        <!-- Header -->
        <div class="wrapper m-header">
          <header class="row">
            <h1>
              <a href="/">
                Madrasah<span>Mahabbah</span>
                <span class="sub">Learn. <span>Love.</span> Live.</span>
              </a>
            </h1>
          </header>
        </div>

        <!-- 404 -->
        <div class="wrapper m-welcome">
          <section class="row">
            <h2>Our <span>Apologies</span></h2>
            <p>
              <i class="fa fa-exclamation-triangle error"></i>
              The file you asked for is not available on <strong class="mm">Madrasah<span>Mahabbah</span>.</strong>
            </p>
            <nav>
              <a class="button" href="/">
                <i class="fa fa-home"></i>
                Return <span>Home</span>
              </a>
            </nav>
          </section>
        </div>

<%= partial 'footer' %>

      </div><!-- /container -->