---
title: File not found!
---

    <div class="container">

      <!-- Header -->
      <div class="wrapper m-header">
        <header class="row">
          <h1>
            <a href="/">
              Madrasah<span>Mahabbah</span>
              <span class="sub">Learn. <span>Love.</span> Live.</span>
            </a>
          </h1>
        </header>
      </div>

      <!-- 404 -->
      <div class="wrapper m-welcome">
        <section class="row">
          <h2>Subhanallah.</h2>
          <p>
            <i class="fa fa-exclamation-triangle error"></i>
            The file you asked for is not available in <strong class="mm">Madrasah<span>Mahabbah</span></strong>
          </p>
          <nav>
            <button type="button" class="trigger-404" onclick="window.location.href='/';return false;">
              <i class="fa fa-home"></i>
              Return <span>Home</span></button>
          </nav>
        </section>
      </div>

<%= partial 'footer' %>

    </div><!-- /container -->
